html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-family: $baseFont;
   font-size: 2rem;
   color: $black;
   overflow-x: hidden;
}

.wrapper {
   max-width: 3840px;
   width: 80%;
   margin: 0 auto;
}

img {
   max-width: 100%;
   width: 100%;
   display: block;
   object-fit: cover;
   overflow: hidden;
}

h1,
h2,
h3,
h4 {
   margin: 0;
   text-align: center;
}

h2 {
   font-family: $mainHeadingFont;
   font-size: 4rem;
   text-transform: capitalize;
   letter-spacing: 3px;
   padding: 4% 0;
}

h3 {
   font-size: 3rem;
   padding-bottom: 10px; 
}

h4 {
   font-size: 2.3rem;
   font-weight: 400;
   padding-bottom: 20px;
}

p {
   line-height: 1.6;
}

.about,
.skills,
.contact {
   background: $primaryColour;
}

.projects,
.blog {
   background: $white;
}

.projectImage,
.post img {
   border: 2px solid $accentColour;
   box-shadow: 0 0 7px $accentColour;
   transition: .3s ease-in-out;
   // &:hover {
   //    transform: scale(1.1);
   // }
   &:active {
      box-shadow: 0 0 10px $accentColour;
   }
   &:focus {
      border: 1px dotted $black;
   }
}

footer {
   background: $secondaryColour;
   color: $primaryColour;
   text-align: center;
   p {
      margin: 0;
      padding: 10px;
   }
}