/////////////////////////////////////////////////////////
@media (max-width: 900px) {
   header {

      .mainTitle {
         padding-bottom: 70px;

         h1 {
            font-size:  21vw;
         }

         h2 {
            font-size: 3vw;
         }
      }

      .menu {
         height: auto;
      }
   }

   .aboutContainer {
      .aboutDescription {
         .aboutTagline {
            width: 100%;
         }
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 790px) {
   header {

      .mainTitle {
         padding-left: 12%;
         padding-bottom: 0;

         h1 {
            margin: 0;
         }
      }
   }

   .projectContainer {
      flex-direction: column;
      padding-bottom: 8%;

      .projectOne,
      .projectTwo,
      .projectThree,
      .projectFour {
         width: 100%;
         padding: 8% 0;
      }
   }

   .skillsContainer {
      justify-content: center;

      .icon {
         width: 25%;
      }
   }

   .blogContainer {
      justify-content: center;

      .post {
         width: 100%;
         padding: 3% 0 6% 0;
      }
   }

   .contactContainer {
      flex-direction: column;
      
      .contactParagraph,
      .contactPoints {
         width: 100%;
      }

      .contactSocial {
         padding: 7% 0;
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 550px) {

   h2 {
      padding: 8% 0;
   }

   header {

      .mainTitle {
         
         h1 {
            font-size: 11rem;
         }

         h2 {
            font-size: 2rem;
            padding-top: 40px;
         }
      }
   }

   .about {

      h2 {
      padding-bottom: 4%;
      }

      .aboutContainer {
         padding-bottom: 10%;

         .headshotContainer {
            width: 40%;
         }
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 480px) {
   // header,
   // header .navSidebar {
   //    height: 95vh;
   // }

   header {

      .mainTitle {
         padding-left: 15%;

         h1 {
            font-size: 22vw;
         }

         h2 {
            font-size: 4.5vw;
         }
      }

      .arrow {
         left: 55%;
      }
   }

   .menuExtended {
      height: auto;
      padding-bottom: 215px; // might need to change based on phone types
   }

   .hamburgerMenuSocial {
      display: none;
   }

   .skillsContainer {
      justify-content: center;

      .icon {
         width: 33%;
      }
   }
}

/////////////////////////////////////////////////////////
// Smallest screen sizes (smallest = 320px)
@media (max-width: 375px) {
   h2 {
      font-size: 10vw;
   }
   
   header {

      .mainTitle {
         padding: 0 0 0 25%;
      }
   }

}

/////////////////////////////////////////////////////////
// specific settings for landscape orientation only
@media only screen and (min-device-width : 320px) and (max-device-width : 1200px) and (orientation : landscape) {
   header {
      height: 121vh;

      .navSidebar {
         height: 121vh;
      }

      .sidebarSocial,
      .hamburgerMenuSocial {
         display: none;
      }

      .menu {
         height: auto;
      }

      .mainTitle {
         padding-top: 6%;

         h1 {
            font-size: 17vw;
         }

         h2 {
            font-size: 1.8rem;
            padding-top: 3%;
         }

         .arrow {
            bottom: 21%;
         }
      }
   }
}