/////////////////////////////////////////////////////////
@media (max-width: 1050px) {

   .projects {
      .projectType {
         font-size: 1.7rem;
      }
      p {
         font-size: 1.7vw;
      }
   }
}


/////////////////////////////////////////////////////////
@media (max-width: 900px) {

   header {
      .mainTitle {
         padding-bottom: 70px;

         h1 {
            font-size:  21vw;
         }

         h2 {
            font-size: 3vw;
         }
      }

      .menu {
         height: auto;
      }
   }

   .aboutContainer {
      padding-bottom: 10%;

      .aboutDescription {
         .aboutTagline {
            width: 100%;
         }
      }
   }

   .projects {
      .projectType {
         font-size: 1.6rem;
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 790px) {

   h2 {
      padding: 8% 0;
   }

   header {
      .mainTitle {
         padding-left: 12%;
         padding-bottom: 0;

         h1 {
            margin: 0;
         }
      }
   }

   .projects {
      p {
         font-size: 2vw;
      }

      .projectsRight .projectMobile .projectBio,
      .newProject .projectBio {
         align-items: flex-start;
      }

      .projectsRight .projectDesktop .projectBio {
         align-items: center;
      }

      .projectType {
         font-size: 1.6rem;
         padding-top: 45px;
      }

      .projectsContainer {
         flex-flow: row wrap;

         .projectsLeft,
         .projectsCentre {
            width: 45%;
         }

         .projectsRight {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .projectMobile {
               width: 28%;
            }

            .projectDesktop {
               width: 63%;
               padding-top: 6%;
            }
         }
      }

      .newProject:last-of-type .projectImage {
         overflow: scroll;
      }

      .newProject:last-of-type .projectBio {
         overflow: unset;
      }
   }

   .skills {
      .skillsContainer {
         justify-content: center;
      }

      .icon {
         width: 25%;
      }
   }

   .blogContainer {
      justify-content: space-between;

      .post {
         width: 45%;
         padding-bottom: 50px;
      }
   }


   .contactContainer {
      flex-direction: column;
      
      .contactParagraph,
      .contactPoints {
         width: 100%;
      }

      .contactSocial {
         padding: 7% 0;
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 670px) {

   .blogContainer {
      .post {
         width: 100%;
         padding-bottom: 75px;
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 550px) {

   h2 {
      padding-top: 10%;
   }

   .sectionSeparator {
      width: 50%;
   }

   header {
      .mainTitle {
         h1 {
            font-size: 11rem;
         }

         h2 {
            font-size: 2rem;
            padding-top: 40px;
         }
      }
   }

   .about {
      h2 {
      padding-bottom: 4%;
      }

      .aboutContainer {
         padding-bottom: 10%;

         .headshotContainer {
            width: 40%;
         }
      }
   }

   .projects {
      p {
         font-size: 2rem;
      }

      .projectType {
         font-size: 2.3rem;
      }

      .projectImage {
         .projectBio p {
            font-size: 3.8vw;
            line-height: 1.6;
         }
      }

      .projectDesktop .projectBio,
      .newProject .projectBio {
         align-items: center;
      }

      .projectsContainer {
         flex-direction: column;

         .project {
            padding: 30px 0;
         }

         .projectsLeft,
         .projectsCentre {
            width: 100%;
         }

         .projectsCentre {
            display: flex;
            flex-direction: column-reverse;
         }

         .projectsRight {
            flex-direction: column;

            .projectMobile,
            .projectDesktop {
               width: 100%;
            }

            .projectMobile .projectBio {
               align-items: center;
            }
         }
      }

      .newProjects {
         flex-direction: column;

         .newProject {
            width: 100%;
            padding: 25px 0;
         }
      }
   }

   .newProjectsContainer,
   .newSkillsContainer {
      padding-bottom: 40px;
   }

   .skills {
      .icon {
         width: 33%;
      }
   }
}

/////////////////////////////////////////////////////////
@media (max-width: 480px) {

   header {

      .mainTitle {
         padding-left: 15%;

         h1 {
            font-size: 22vw;
         }

         h2 {
            font-size: 4.5vw;
         }
      }

      .arrow {
         left: 55%;
      }
   }

   .menuExtended {
      height: auto;
      padding-bottom: 215px;
   }

   .skillsContainer {
      justify-content: center;

      .icon {
         width: 33%;
      }
   }
}

/////////////////////////////////////////////////////////
// Smallest screen sizes (smallest = 320px)
@media (max-width: 375px) {
   h2 {
      font-size: 9vw;
   }
   
   header {

      .mainTitle {
         padding: 0 0 0 25%;
      }

      .arrow {
         left: 58%;
      }
   }

   .skills {
      .icon {
         width: 48%;
      }

      .newSkills {
         justify-content: space-evenly;
      }
   }

}

/////////////////////////////////////////////////////////
// specific settings for landscape orientation on phones
@media only screen and (min-device-width : 320px) and (max-device-width : 900px) and (orientation : landscape) {
   header {

      .sidebarSocial {
         display: none;
      }

      .menu {
         height: auto;
      }

      .mainTitle {
         padding-top: 6%;

         h1 {
            font-size: 15vw;
         }

         h2 {
            font-size: 1.8rem;
            padding-top: 3%;
         }

         .arrow {
            display: none;
         }
      }
   }
}

///////////////////////////////////////////////////////
// specific settings for portrait orientation on tablets

@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) and (orientation : portrait) {

   .hamburgerMenuSocial {
      display: none;
   }

}