// Landscape phone to portrait tablet
@media (max-width: 768px) {
   header {
      .mainTitle {
         padding-top: 25vh;
         padding-left: 12%;
         h1 {
            font-size:  20vw;
            margin: 0;
         }
         h2 {
            font-size: 3.9vw;
         }
      }
   }

   .aboutContainer {
      flex-direction: column;
      .headshotContainer {
         padding: 0;
         margin: 0 auto;
      }
      .aboutDescription {
         width: 100%;
         padding: 6% 0;
      }
   }

   .projectContainer {
      flex-direction: column;
      padding-bottom: 8%;
      .projectOne,
      .projectTwo,
      .projectThree,
      .projectFour {
         width: 100%;
         padding: 8% 0;
      }
   }

   .skillsContainer {
      justify-content: center;
      .icon {
         width: 25%;
      }
   }

   .blogContainer {
      justify-content: center;
      .post {
         width: 100%;
         padding: 3% 0 6% 0;
      }
   }

   .contactContainer {
      flex-direction: column;
      .contactParagraph,
      .contactPoints {
         width: 100%;
      }
      .contactSocial {
         padding: 7% 0;
      }
   }
}
// Landscape phones and down
@media (max-width: 480px) {
   header,
   header .navSidebar {
      height: 95vh;
   }

   header{
      .mainTitle {
         padding: 40% 0  0 18%;
      }
      .arrow {
         left: 58%;
      }
   }

   .menu {
      height: auto;
      padding-bottom: 230px;
   }

   .hamburgerMenuSocial {
      display: none;
   }
   .skillsContainer {
      justify-content: center;
      .icon {
         width: 33%;
      }
   }
}
// Smallest screen sizes (smallest = 320px)
@media (max-width: 375px) {
   header {
      .mainTitle {
         padding: 55% 0 0 25%;
      }
   }

}