article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Raph Lanok Future';
  src: url("../../assets/raphLanokFutureFont/RaphLanokFuture.eot?") format("eot"), url("../../assets/raphLanokFutureFont/RaphLanokFuture.woff") format("woff"), url("../../assets/raphLanokFutureFont/RaphLanokFuture.ttf") format("truetype"), url("../../assets/raphLanokFutureFont/RaphLanokFuture.svg#RaphLanokFuture") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #001918;
  overflow-x: hidden;
}

.wrapper {
  max-width: 3840px;
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "Raph Lanok Future", "Euphoria Script", cursive;
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  padding: 3% 0;
}

h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.3rem;
  font-weight: 400;
  padding-bottom: 20px;
}

p {
  line-height: 1.6;
}

.about,
.skills,
.contact {
  background: #93A195;
}

.projects,
.blog {
  background: #F9F5F5;
}

.imageContainer,
.post img {
  border: 2px solid #662738;
  -webkit-box-shadow: 0 0 7px #662738;
          box-shadow: 0 0 7px #662738;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.imageContainer:hover,
.post img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.imageContainer:active,
.post img:active {
  -webkit-box-shadow: 0 0 10px #662738;
          box-shadow: 0 0 10px #662738;
}

.imageContainer:focus,
.post img:focus {
  border: 1px dotted #001918;
}

footer {
  background: #59675E;
  color: #93A195;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 10px;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url("../../assets/leavesBackground.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../../assets/leavesBackground.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .navSidebar {
  background: #93A195;
  width: 80px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 22px 0 23px;
  position: absolute;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header .mainTitle {
  text-align: center;
  padding-left: 9%;
}

header .mainTitle h1 {
  font-family: "Raph Lanok Future", "Euphoria Script", cursive;
  font-size: 21rem;
  text-transform: lowercase;
  line-height: 1;
  margin: 7% 0 2% 0;
}

header .mainTitle span {
  display: block;
}

header .mainTitle h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-transform: capitalize;
  padding: 0;
}

header .arrow {
  position: absolute;
  bottom: 5%;
  left: 54%;
  -webkit-transform: translate -50%, -50%;
          transform: translate -50%, -50%;
}

header .arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #59675E;
  border-right: 2px solid #59675E;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: animate 3s infinite;
          animation: animate 3s infinite;
}

header .arrow span:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navIcon {
  width: 35px;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #59675E;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navIcon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.navIcon span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.navIcon span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.navIcon span:hover {
  color: #662738;
}

.navIcon span:focus {
  border: 1px dashed #001918;
}

.navIcon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
  left: 8px;
}

.navIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 33px;
  left: 8px;
}

.menu {
  position: absolute;
  left: -240px;
  width: 240px;
  height: 100%;
  background: #93A195;
  border-radius: 10px;
  text-align: center;
  margin-top: 55px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  color: #59675E;
  font-weight: 700;
  padding: 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu ul li a:hover {
  background: #59675E;
  color: #F9F5F5;
}

.menu ul li a:active {
  color: #662738;
}

.menu ul li a:focus {
  border: 1px dotted #001918;
}

.sidebarSocial ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.sidebarSocial ul li {
  padding: 20px 0;
}

.sidebarSocial ul li a {
  color: #59675E;
  padding: 10px;
}

.sidebarSocial ul li a:hover {
  color: #001918;
}

.sidebarSocial ul li a:active {
  color: #662738;
}

.sidebarSocial ul li a:focus {
  border: 1px dotted #001918;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 5% 0;
}

.aboutContainer .headshotContainer {
  width: 35%;
  padding-right: 3%;
}

.aboutContainer .headshotContainer img {
  border: 2px solid #59675E;
  -webkit-box-shadow: 0 0 10px #59675E;
          box-shadow: 0 0 10px #59675E;
}

.aboutContainer .aboutDescription {
  width: 65%;
  padding-left: 2%;
}

.aboutContainer .aboutDescription p:first-of-type {
  margin-top: 0;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 3%;
}

.projectContainer .projectOne,
.projectContainer .projectTwo,
.projectContainer .projectThree,
.projectContainer .projectFour {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectContainer .projectOne,
.projectContainer .projectThree {
  padding-right: 5%;
}

.projectContainer .projectTwo,
.projectContainer .projectFour {
  padding-left: 5%;
}

.projectContainer .projectThree {
  padding-top: 60px;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 0 0 5% 0;
}

.skillsContainer .icon {
  width: 20%;
  padding: 20px 0 50px 0;
}

.skillsContainer .icon i {
  font-size: 5rem;
}

.skillsContainer .icon p {
  margin: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4%;
}

.blogContainer .post {
  width: 30%;
}

.blogContainer .post h3 {
  font-size: 2.5rem;
  padding: 10px;
}

.blogContainer .post h4 {
  font-size: 2.1rem;
  padding-bottom: 15px;
  border-bottom: 1px solid #662738;
}

.blogContainer .post p {
  margin: 0;
  padding: 15px 0 30px 0;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5% 0;
}

.contactContainer .contactParagraph,
.contactContainer .contactPoints {
  width: 50%;
}

.contactContainer p {
  font-size: 2.3rem;
}

.contactPoints {
  text-align: center;
}

.contactPoints ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contactPoints a {
  text-decoration: none;
  color: #001918;
  padding: 10px;
}

.contactPoints a:hover {
  color: #59675E;
}

.contactPoints a:active {
  color: #F9F5F5;
}

.contactPoints a:focus {
  border: 1px dotted #001918;
}

.contactPoints h3 {
  padding: 15px 0;
}

@media (max-width: 768px) {
  header .mainTitle h1 {
    font-size: 20vw;
    margin-top: 30%;
  }
  header .mainTitle h2 {
    font-size: 3.9vw;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer .headshotContainer {
    padding: 0;
    margin: 0 auto;
  }
  .aboutContainer .aboutDescription {
    width: 100%;
    padding: 6% 0;
  }
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 8%;
  }
  .projectContainer .projectOne,
  .projectContainer .projectTwo,
  .projectContainer .projectThree,
  .projectContainer .projectFour {
    width: 100%;
    padding: 8% 0;
  }
  .skillsContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skillsContainer .icon {
    width: 25%;
  }
  .blogContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogContainer .post {
    width: 100%;
    padding: 3% 0 6% 0;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .contactParagraph,
  .contactContainer .contactPoints {
    width: 100%;
  }
  .contactContainer .contactSocial {
    padding: 7% 0;
  }
}

@media (max-width: 480px) {
  header,
  header .navSidebar {
    height: 75vh;
  }
  header .mainTitle {
    padding: 5% 0  0 15%;
  }
  .menu {
    height: auto;
    padding-bottom: 70px;
  }
  .hamburgerMenuSocial {
    display: none;
  }
  .skillsContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skillsContainer .icon {
    width: 33%;
  }
}

@media (max-width: 375px) {
  header .mainTitle {
    padding: 25% 0 0 25%;
  }
}
/*# sourceMappingURL=style.css.map */